* {    
  box-sizing: border-box;   
  margin: 0;    
  padding: 0;  
}

body {
  background-color: #B4C5DB;
  background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOj09y9u6O0oKoWP0sLo68soj55UTKTe-Pyg&usqp=CAU');
  
    background-size: cover;
}

img{
	width:400px;
    height:550px;
}

#carte
{
	width: 800px;
	margin:0 auto;
	background-color: #B4C5DB;
	text-align: center;
	border-radius: 20px;
	
}

#titre
{
text-align:center;
font-size:36px;
color:red;
font-style: Chalkduster;
font-weight: bold;
font-family: cursive;
text-decoration : blink;
}

p{
	font-family: cursive;
	font-weight: bold;
	font-size:18px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2px;
    background-color: #F9F2EF;
    color: black;
	border-radius: 20px;
	width: 800px;
    margin:0 auto;
}

